p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

button {
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 1.4rem;
}

.header-section-number {
  color: dimgrey;
}

p, ol, ul {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1.title {
  font-size: 2.8rem;
  margin-bottom: 0;
}

h3.subtitle {
  font-size: 2.4rem;
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

.learning-goals {
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  border: 2px solid dimgray;
  margin: 1em;
  width: 50%;
}
.learning-goals p {
  width: 100%;
}
.learning-goals ol {
  width: 90%;
}
.learning-goals ul {
  padding-left: 30px;
  width: 90%;
}

.case-study {
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  border: 2px solid dimgray;
  margin: 1em;
  width: 50%;
}
.case-study p {
  width: 100%;
}

.ethics-box {
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  border: 2px solid dimgray;
  margin: 1em;
  width: 50%;
}
.ethics-box p {
  width: 100%;
}

.accident-report {
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  border: 2px solid dimgray;
  margin: 1em;
  width: 50%;
}
.accident-report p {
  width: 100%;
}

.exercise {
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  border: 2px solid dimgray;
  margin: 1em;
  width: 50%;
}
.exercise p {
  width: 100%;
}
.exercise ol {
  width: 90%;
}

.interactive {
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
  border: 2px solid dimgray;
  margin: 1em;
  width: 50%;
}
.interactive p {
  width: 100%;
}

.sidenote .marginnote, .marginnote .marginnote {
  margin-right: 0px;
  margin-top: 1rem;
  width: 90%
}

@media screen and (max-width: 760px) {
  .learning-goals, .case-study, .ethics-box, .accident-report, .exercise, .interactive {
    width: 85%;
  }
}
