$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

$types:
learning_goals         $red,
case_study             $blue,
ethical_considerations $green,
accident_report        $orange,
interactive            $violet,
exercises              $cyan,
examples               $yellow,
;

@each $class, $color in $types {
	.#{$class} {
		outline: 4px solid $color;

		.Collapsible__trigger { background: $color; }
	}
}

.Collapsible {
	&__trigger {
		display: flex;
		font-variant: small-caps;
		font-family: Source Sans Pro;
		cursor: pointer;
		font-size: 1.4em;
		color: white;
		padding: 0.5em 0;

		> * { padding: 0 0.5em; }

		> :last-child {
			margin-left: auto;
			transition: transform 300ms;
		}

		&.is-open > :last-child { transform: rotateZ(180deg); }
	}

	&__contentInner { padding: 1em; }
}

.box {
	margin: 1em 0;
	width: 55%;
	border-radius: 8px;

	.title {
		font-size: 1.5em;
		font-weight: bold;
	}

	p, ul, ol, li {
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	p, li {
		&:not(:first-child) { margin-top:    0.5em; }
		&:not(:last-child)  { margin-bottom: 0.5em; }
	}

	ul, ol { padding-left: 1em;   }
	li     { padding-left: 0.5em; }

	@media screen and (max-width: 760px) {
		width: 85%;
	}
}