@use "sass:color";

.box {
	$color: var(--color);

	@media screen and (max-width: 760px) { width: 85%; }

	width: 55%;
	margin: 1em 0;
	border-radius: 8px;
	outline: 4px solid $color;

	h3 { font-size: 1.5em; }

	h3, p, ul, ol, li, pre {
		box-sizing: border-box;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h3, p, li {
		&:not(:first-child) { margin-top:    0.5em; }
		&:not(:last-child)  { margin-bottom: 0.5em; }
	}

	ul, ol { padding-left: 1em;   }
	li     { padding-left: 0.5em; }

	img[width='0'] { width: 100%; }

	.preview {
		:global .Collapsible__contentOuter {
			min-height: 15em;
			-webkit-mask-image: linear-gradient(white 5em, transparent 14em);
		}
	}

	:global {
		.figure { max-width: 100%; }

		.Collapsible {
			&__contentInner { padding: 1em; }

			&__trigger {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-variant: small-caps;
				font-family: Source Sans Pro;
				cursor: pointer;
				font-size: 1.5em;
				color: white;
				background: $color;

				::first-letter { text-transform: capitalize; }

				span, svg { transition: 300ms; }

				span { flex-grow: 1; }

				svg { padding: 0.5em; }

				&.is-open {
					span { flex-grow: 0; }

					svg {
						&:first-child { transform: rotateZ(360deg); }
						&:last-child  { transform: rotateZ(180deg); }
					}
				}
			}
		}
	}
}
