@mixin count($name, $style) {
	&::before {
		content: counter($name, $style);
		counter-increment: $name;
		padding: 0 0.5em;
		font-size: 0.7em;
		min-width: 2ch;
		text-align: right;
	}
}

.sticky {
	position: relative;
	top: -8px;
	margin-left: -12.5vw;
}

.toc {
	font-family: Source Sans Pro;
	font-variant: small-caps;
	font-size: 1.4rem;
	counter-reset: part chapter appendix;

	.part     { @include count( part,     upper-roman ); }
	.chapter  { @include count( chapter,  decimal     ); }
	.appendix { @include count( appendix, upper-latin ); }

	a {
		all: unset;
		display: flex;
		align-items: center;
		background: var(--background);
		color: var(--color);
	}

	.book, .chapter, .appendix {
		cursor: pointer;
		transition: color 0.4s;
		&:hover { color: white; }
	}

	.desktop {
		.book { justify-content: center; }

		a {
			white-space: pre;
			height: calc(var(--rowHeight) * 1px);
		}
	}

	.mobile {
		.part, .appendices {
			padding-top: 0.5em;
			border-top: medium solid gray;
		}

		.book, .group { margin: 0.5em 0; }

		.chapter, .appendix { padding-left: 1.5em; }

		a { padding: 0 0.5em; }
	}
}

:global {
	.bm-burger-button {
		position: fixed;
		width: 24px;
		height: 20px;
		left: 10px;
		top: 10px;
	}

	.bm-burger-bars {
		background: var(--background);
		border-radius: 2px;
	}

	.bm-menu-wrap {
		position: fixed;
		top: -8px;
	}

	.bm-menu {
		background: var(--background);
	}
}
