.toc {
	// width: 100%;
	// position: relative;
	// box-sizing: border-box;
	// position: sticky;
	// position: fixed;
	// position: absolute;
	// display: flex;
	// align-items: flex-end;
	// left: 0;
	// top: 0;
	// width: 100%;
	// display: flex;
	// flex-direction: column;
	// padding-bottom: 10em;
	// box-sizing: border-box;
	// min-width: 87.5%;
	// max-width: fit-content;
	// width: fit-content;
	// margin: 0 auto;
	// min-width: min-content;
	// margin: 12.5% 12.5% 0 0;
	// margin: 12.5% 0;
	font-size: 1.4rem;
	color: dimgray;

	:link { background: none; }

	// * { transition: 1s; }
}

.book_title {
	padding: 0.4em;
	font-style: italic;

	&:hover { color: black; }
}

.parts {
	// position: fixed;
	// top: 0;
	display: flex;
	justify-content: space-between;
	// flex-wrap: wrap;
	// max-width: fit-content;
	border-style: solid;
	border-width: 2px 0;

	@media screen and (max-width: 760px) {
		flex-direction: column;
	}
}

@mixin count($name, $style) {
	&::before {
		content: counter($name, $style);
		counter-increment: $name;
		padding-right: 0.4em;
		font-size: 0.7em;
		font-weight: bold;
		text-align: right;

		@if $style == decimal { min-width: 2ch; }
	}
}

@mixin part     { @include count( part,     upper-roman ); }
@mixin chapter  { @include count( chapter,  decimal     ); }
@mixin appendix { @include count( appendix, upper-latin ); }

:root { counter-reset: part chapter appendix; }

.part {
	// flex: 0;
	// flex-basis: 0%;
	// flex: 0 0 100%;
	// display: flex;
	// display: inline-flex;
	// flex-direction: column;
	// flex-wrap: wrap;

	&:not(:last-child) { .part_title    { @include part;     } }
	&:not(:last-child) { .chapter_title { @include chapter;  } }
	&:last-child       { .chapter_title { @include appendix; } }

	&_open {
		// flex: 1;
		.outer {
			// border: medium solid black;
		}
	}
}

.part_title {
	// flex: 0;
	// flex-basis: 100%;
	display: flex;
	align-items: center;
	padding: 0.4em;

	&:global(.is-open) {
	// &_open {
		// transition: 0.1s;
		color: black;
	}
}

.outer {
	// align-self: flex-start;
	// display: flex;
	// flex-basis: 100%;
	// flex-direction: column;
	// flex-grow: 0;
	// flex: 0 0 100%;
	// flex: 0;
	// float: right;
	// left: 0;
	// max-width: min-content;
	// min-width: 0;
	position: absolute;
	// position: fixed;
	// position: relative;
	// position: sticky;
	// left: calc(87.5vw - 10%);
}

.inner {
	// display: flex;
	// display: inline-flex;
	// flex-direction: column;
	// flex-wrap: wrap;
	// float: left;
	// inset: 100%;
	// position: absolute;
	// position: fixed;
	// position: relative;
	// position: sticky;
	// right: 12.5%;
	// right: 50%;
	white-space: pre;
	background: white;
	border-radius: 0 0 8px 8px;
	border: 3px solid black;
}

.chapter_title {
	// flex: 0;

	display: flex;
	align-items: center;
	padding: 0.4em;

	&:hover { color: black; }
}
