$sections:    '.part',    '.appendices';
$subsections: '.chapter', '.appendix';
$links:       '.book',    $subsections;
$titles:      $links,     $sections;

$counters: (
	part:     upper-roman,
	chapter:  decimal,
	appendix: upper-latin,
);

.toc {
	font-size: 1.4rem;
	counter-reset: join(map-keys($counters), (), space);

	@each $name, $style in $counters {
		.#{$name}::before {
			content: counter($name, $style);
			counter-increment: $name;
			text-align: right;
			font-weight: bold;
			font-size: 0.7em;
			padding-right: 0.5em;
			min-width: 2ch;
		}
	}

	#{$titles} {
		all: unset;
		display: flex;
		align-items: center;
	}

	#{$links} {
		cursor: pointer;
		transition: color 0.4s;
		&:hover { color: var(--hover); }
	}
}

.desktop {
	nav {
		border-top: medium solid gray;
		border-bottom: medium solid gray;
	}

	.sticky {
		position: relative;
		top: -8px;
		margin-left: -12.5vw;
	}

	.book {
		justify-content: center;
		color: var(--color);
		background: var(--background);
	}

	#{$titles} {
		white-space: pre;
		height: calc(var(--rowHeight) * 1px);
	}

	#{$subsections} { padding-left: 0.5em; }
}

.mobile {
	#{$titles} {
		padding: 0 1em;

		&:first-child { padding-top:    1em; }
		&:last-child  { padding-bottom: 1em; }
	}

	#{$subsections} { padding-left: 2em; }

	#{$sections} {
		margin-top: 0.5em;
		padding-top: 0.5em;
		border-top: medium solid gray;
	}
}

:global {
	.bm-burger-button {
		position: fixed;
		width: 24px;
		height: 20px;
		left: 10px;
		top: 10px;
	}

	.bm-burger-bars {
		background: var(--background);
		border-radius: 2px;
	}

	.bm-menu-wrap { top: 0; }

	.bm-menu {
		color: var(--color);
		background: var(--background);
	}
}
