.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
_bookdown_files/

node_modules/
dist/
r/
renderer/
render/contents.json
package-lock.json

~$*
images/management/analysis_pipeline.pptx
images/management/analysis_pipeline.pdf
