.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
*_files/
*_cache/
_book/

*.sublime-project

~$*
images/management/analysis_pipeline.pptx
images/management/analysis_pipeline.pdf
*.xls

*.blg
*.log
*.toc
*.aux
# *.tex
*.pdf

Experimentology.tex

/.quarto/
site_libs/