@use 'sass:map';

$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

$types:
learning_goals         $red,
case_study             $blue,
ethical_considerations $green,
accident_report        $orange,
interactive            $violet,
exercises              $cyan,
;

@each $class, $color in $types {
	.#{$class} {
		border: 2px solid $color;

		.type { background: $color; }
	}
}

.box {
	width: 55%;

	.content {
		margin: 1em;
		box-sizing: border-box;
	}

	p, ul, ol {
		padding: 0;
		width: 100%;
		box-sizing: border-box;
	}

	ul, ol {
		padding-left: 0.5em;
	}

	li {
		padding-top: 0;
		padding-bottom: 0;
		margin: 0.5em 0;
	}

	@media screen and (max-width: 760px) {
		width: 85%;
	}

	.type {
		font-variant: small-caps;
		font-family: Source Sans Pro;
		font-size: 1.4em;
		color: white;
		padding: 0.4em 0;
	}

	.icon {
		padding: 0 0.5em;
	}

	.title {
		font-size: 1.5em;
		font-weight: bold;
	}
}