// @use 'sass:map';

$yellow:  #b58900;
$orange:  #cb4b16;
$red:     #dc322f;
$magenta: #d33682;
$violet:  #6c71c4;
$blue:    #268bd2;
$cyan:    #2aa198;
$green:   #859900;

$types:
learning_goals         $red,
case_study             $blue,
ethical_considerations $green,
accident_report        $orange,
interactive            $violet,
exercises              $cyan,
examples               $yellow,
;

@each $class, $color in $types {
	.#{$class} {
		border: 4px solid $color;
		border-radius: 8px;

		.Collapsible__trigger { background: $color; }
	}
}

.box {
	width: 55%;
	margin: 1em 0;

	.Collapsible {
		&__contentInner { margin: 1em; }

		&__trigger {
			display: flex;
			font-variant: small-caps;
			font-family: Source Sans Pro;
			cursor: pointer;
			font-size: 1.4em;
			color: white;
			padding: 0.5em 0;

			> * { padding: 0 0.5em; }

			> :last-child {
				margin-left: auto;
				transition: transform 300ms;
			}

			&.is-open > :last-child { transform: rotateZ(180deg); }
		}
	}

	.title {
		font-size: 1.5em;
		font-weight: bold;
	}

	p, ul, ol {
		padding: 0;
		width: 100%;
		box-sizing: border-box;
	}

	ul, ol {
		padding-left: 0.5em;
	}

	li {
		padding-top: 0;
		padding-bottom: 0;
		margin: 0.5em 0;
	}

	@media screen and (max-width: 760px) {
		width: 85%;
	}
}