@use 'sidenote';

@font-face {
	font-family: "Source Sans Pro";
	src: url("SourceSansPro-Regular.ttf");
}

body {
	max-width: none;
}

p.caption {
	color: #777;
	margin-top: 10px;
}

code {
	white-space: inherit;
	font-size: 1rem;
}

button {
	font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
	font-size: 1.4rem;
}

.header-section-number {
	color: dimgrey;
}

p, ol, ul {
	font-size: 1.2rem;
	line-height: 1.6rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

ul {
	list-style-type: '—';
}

ol {
	margin-left: 0.4em;
	// padding-left: 0.5em;
}

li {
	padding-left: 0.5em;
}

h1.title {
	font-size: 2.8rem;
	margin-bottom: 0;
}

h3.subtitle {
	font-size: 1.9rem;
	margin-top: 10;
	margin-bottom: 0;
	width: 55%;
}

h4.author {
	font-size: 1.3rem;
	width: 55%;
	margin-left: 0;
	line-height: 1.4rem;
}

h1 {
	font-size: 2rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.6rem;
}

.sidenote .marginnote, .marginnote .marginnote {
	margin-right: 0px;
	margin-top: 1rem;
	width: 90%
}

.references {
	width: 55%;
}

.csl-entry {
	--indent: 1.5em;
	text-indent: calc(var(--indent) * -1);
	padding: 0.5em 0 0.5em var(--indent);
}
