body { counter-reset: sidenote-number; }

label.sidenote-number { counter-increment: sidenote-number; }

:is(label, span).sidenote-number { font-size: 0; }

:is(label, span).sidenote-number::before {
  font-size: 1rem;
  content: counter(sidenote-number, decimal);
}
