.toc {
	--darker: #111;

	white-space: pre;
	font-size: 1.4rem;
	margin-top: 3em;
	color: dimgray;

	counter-reset: part chapter appendix;

	* {
		transition-duration: 0.5s;
		transition-property: width, height, color, border-color;
	}

	&, * { display: flex; }
	&, .part, .dropdown { flex-direction: column; }

	:link {
		background: none;
		text-shadow: none;
	}
}

.book_title, .part_title, .dropdown { padding: 0.2em 0; }

.book_title { font-style: italic; }

.part_title_rest, .chapter_title { overflow: hidden; }

.part_title {
	border-width: 1px 0;
	border-style: solid;
	border-color: lightgray;
}

:is(.book_title, .chapter_title):hover { color: var(--darker); }

.part {
	&:not(:first-child) > * { padding-left:  0.4em; }
	&:not(:last-child)  > * { padding-right: 0.4em; }

	&:hover .part_title {
		border-bottom-width: 2px;
		border-bottom-color: black;

		// color: var(--darker);
		* { color: var(--darker); }
	}

	.part_title_first::before { --counter: part;     --style: upper-roman; }
	.chapter_title::before    { --counter: chapter;  --style: decimal;     }
}

.part:last-child {
	.part_title_first::before {                      --style: none;        }
	.chapter_title::before    { --counter: appendix; --style: upper-latin; }
}

:is(.part_title_first, .chapter_title)::before {
	content: counter(var(--counter), var(--style));
	counter-increment: var(--counter);
	min-width: 2ch;
	padding-right: 0.4em;
	font-size: 0.7em;
	font-weight: bold;
	align-self: center;
}