@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');

body, button, table, h1, h2, h3, h4 {
  font-family: "Source Sans Pro", sans-serif;
}

img {
  max-width: 100%;
}

code, pre, pre code {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
}
