#TOC {
  white-space: pre;
  font-size: 1.4rem;
  margin-top: 3em;
  color: dimgray;
  --darker: #111;
  counter-reset: part chapter appendix;
}
#TOC * {
  transition-duration: 0.5s;
  transition-property: width, height, color, border-color;
}
#TOC, #TOC * {
  display: flex;
}
#TOC, #TOC .part-container, #TOC .dropdown {
  flex-direction: column;
}
#TOC .book-title, #TOC .part-title, #TOC .dropdown {
  padding: 0.2em 0;
}
#TOC .book-title {
  font-style: italic;
}
#TOC .part-title-rest, #TOC .chapter-title {
  overflow: hidden;
}
#TOC .part-title {
  border-width: 1px 0;
  border-style: solid;
  border-color: lightgray;
}
#TOC .dropdown {
  background: white;
  z-index: 1;
}
#TOC .part-container:not(:first-child) > * {
  padding-left: 0.4em;
}
#TOC .part-container:not(:last-child) > * {
  padding-right: 0.4em;
}
#TOC .part-container:hover .part-title {
  border-bottom-width: 2px;
  border-bottom-color: black;
}
#TOC .part-container:hover .part-title * {
  color: var(--darker);
}
#TOC .part-container .part-title-first::before {
  --counter: part;
  --style: upper-roman;
}
#TOC .part-container .chapter-title::before {
  --counter: chapter;
  --style: decimal;
}
#TOC .part-container:last-child .chapter-title::before {
  --counter: appendix;
  --style: upper-latin;
}
#TOC .part-container:last-child .part-title-first::before {
  --style: none;
}
#TOC :is(.book-title, .chapter-title):hover {
  color: var(--darker);
}
#TOC ::before {
  content: counter(var(--counter), var(--style));
  counter-increment: var(--counter);
  min-width: 2ch;
  padding-right: 0.4em;
  font-size: 0.7em;
  font-weight: bold;
  align-self: center;
}
#TOC :link {
  background: none;
  text-shadow: none;
}
