#TOC {
	white-space: pre;
	font-size: 1.4rem;
	margin-top: 3em;
	color: dimgray;
	--darker: #111;

	* {
		transition-duration: 0.5s;
		transition-property: width, height, color, border-color;
	}

	&, * { display: flex; }
	&, .part-container, .dropdown { flex-direction: column; }
	.book-title, .part-title, .dropdown { padding: 0.2em 0; }
	.book-title { font-style: italic; }
	.part-title-rest, .chapter-title { overflow: hidden; }

	.part-title {
		border-width: 1px 0;
		border-style: solid;
		border-color: lightgray;
	}

	.dropdown {
		background: white;
		z-index: 1;
	}

	.part-container {
		&:not(:first-child) > * { padding-left:  0.4em; }
		&:not(:last-child)  > * { padding-right: 0.4em; }

		&:hover .part-title {
			border-bottom-width: 2px;
			border-bottom-color: black;

			* { color: var(--darker); }
		}
	}

	:is(.book-title, .chapter-title):hover { color: var(--darker); }

	counter-reset: part chapter;

	.part-title-first::before { --counter:    part; --style: upper-roman; }
	   .chapter-title::before { --counter: chapter; --style:     decimal; }

	::before {
		content: counter(var(--counter), var(--style));
		counter-increment: var(--counter);
		min-width: 2ch;
		padding-right: 0.4em;
		font-size: 0.7em;
		font-weight: bold;
		align-self: center;
	}

	:link {
		background: none;
		text-shadow: none;
	}
}